<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      
      <class name="test_Suite.Create_Collections"/>
      <class name="test_Suite.Rename_Drop"/>
      <class name="test_Suite.Sign_Up_Your_Team"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
